
.register-button {
    background-color: #fac85b;
    .register-link {
        color: #fff;
    }
}
.register-button:hover {
    opacity: .8;
    text-decoration: none;
}

.header-login {
    flex-direction: row;
}
