/**
* 書籍情報
**/
.book-info {
    background-color: rgba(34, 34, 34, 0.9);
    padding-top: 10px;

    &-cover {
        width: 60px;
        height: 70px;
        overflow: hidden;
        img {
            width: 60px;
            height: 70px;
        }
    }

    .title {
        font-size: 1.7em;
        font-weight: bold;
        color: #fff;
    }

    .author {
        color: #fff;
    }

}

.book-detail {
    color: #fff;
    dl {
        padding-bottom: 10px;
        border-bottom: 1px solid #f1f1f1;
    }
    dt {
        font-weight: bold;
        font-size: 1.7em;
        text-align: center;
    }
    dd {
        font-size: 1.5em;
    }
}

.book-cover-full {
    width: 200px;
    text-align: center;
    margin: 50px auto;
    img {
        width: 100%;
    }
}


.btn-detail {
    font-weight: bold;
    color: #666;
    position: relative;
    top: -25px;
    display: block;
    margin: 0 auto;
}

.btn-detail:hover {
    text-decoration: none;
    border: none;
    box-shadow: none;

}

.btn-detail:focus {
    text-decoration: none;
    border: none;
    box-shadow: none;
}

/**
* メモ登録フォーム
**/

.memo-form {
    width: 90%;
    margin: 0 auto;
    padding-top: 120px;

    textarea {
        font-size: 1.2em;
    }

    .post_count {
        font-size: .9rem;
    }

    .count_warning {
        color: yellow;
    }

    .count_danger {
        color: red;
    }
}

/**
* メモ検索
**/

.memos-wrapper {
    padding: 30px;
}


.memo-search {
    width: 90%;
    margin: 0 auto;

    &-form {
        text-align: right;

        input {
            height: 30px;
            padding: 5px;
        }
    }
}

/**
* メモ一覧
**/

.memos {
    width: 100%;
    min-height: 500px;
    margin: 0 auto;

}
